@font-face {
    font-family: fonte1;
    src: url(assets/fontes/Cute\ Notes.ttf);
  }

body {
    background-image: linear-gradient(#ffee7e, #da7eff);
}
h1,p, h3{
    text-align: center;
}
.centro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border-radius: 50%;
}
.gatos{ 
    width: 500px;
    height: auto;
    border-radius: 20%;
    margin-left: 280px;
}
h1, h2{
    font-size: 250%;
}
ol,ul{
    font-size: 150%;
}
.segredo{
    font-size: 75%;
    color: rgba(0, 0, 0, 0);
}

.gatosos{ 
    font-family: fonte1;
    text-align: center;
}

.flexgatos{
    font-family: fonte1;
    font-size: 300%;
    text-align: center;
    display: flex;
    flex-direction: row;
}
/* .flexgatos > div{
    margin-left: 75px;
}
.flexgatos p{
    margin: auto; */

.flexlinks{
    display: flex;
}
.img2, .img3, .img4, .img5{
    width: 128px;
    margin-left: 50px;
}
